# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Distribuição / build
build/
dist/
*.egg-info/
.eggs/

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.bak/
.venv/
ENV/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# =========================
# Migrations (opcional)
# =========================
# Se for projeto pequeno e quiser ignorar:
# */migrations/*
# !*/migrations/__init__.py

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Mac / Windows
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.pid
*.sock

# =========================
# Logs
# =========================
*.log
logs/